# Credenciais e Segredos (CRÍTICO)
.env
.env.local

#Spotify auth cache (token)
.cache 

# Dependências do Frontend
frontend/node_modules/
frontend/dist/
frontend/.next/

# Dependências do Backend (Python)
backend/__pycache__/
backend/*.pyc
backend/.venv/
backend/env/
backend/venv/

# Ficheiros de sistema
.DS_Store

# Ficheiros temporários do Python
__pycache__/
*.pyc

